@charset "UTF-8";

body{
	margin: 0;
    padding: 0; 
    background-image: url("images/moviebg.png");
    font-size: 10pt;
    font-family: "Arial", Helvetica, sans-serif;

	background-color: #cccccc;
	width:100%;
}

header {
	background-image: url("images/rancidbannerbg.png");
	height: 50px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

header img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 24pt;
    text-shadow: 5px 5px #999999;
    text-align: center;
}

.banner{
	background-image: url("images/rancidbannerbg.png");
  	width: 100%;
	margin-left: 0;
    margin-right: 0;
    padding: 0; 
    height: 50px;
}

.banner-centered{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.big-container{
	border-radius: 50px;
    width: 800px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background: #EEEEEE;
    box-shadow: 10px 10px 5px #888888;
}

.left-section{
	width: 550px;
	background: #EEEEEE;
	float: left;
}

.rating-box{
	height: 83px;
	color: red;
  	font-weight: bold;
	font-size: 48pt;
	background-image: url("images/rottenlargebg.png");
	width: auto;
}

img.bottom{
	vertical-align: text-bottom;
}

.reviews-box{
	overflow: hidden;
	width: auto;
	height: auto;
}

.col-reviews{
	width:47%;
	float:left;
	padding: 8px;
	background: #EEEEEE;
}


.overview{
	float:left;
	background: #A2B964;
	width: 250px;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
}

.overview-text{
	padding: 10pt;
}

dt{
	margin-top: 10pt;
	font-weight: bold;
}

.footer{
	clear:both;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #A2B964;
    padding: 5px;
}

.quote{
	background: #FFFFFF;
	border: 2px solid #CCCCCC;
	border-radius: 20px;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 10pt;
	padding: 8px;
	margin-right: 5px;
}

.quoter{
	margin: 20px;
}


a.critic{
	display:block;
	float: left;
}


img.icon{
	margin-right:5px;
}


img.icon.bottom{
	float: left;
}

.search{
	float: left;
	padding: 8px;
	margin: 10px;
}

.title-box{
	background-color: white;
	border-radius: 15px;
	float: left;
	width: 600px;
	height: 190px;
	padding: 8px;
	margin: 10px;
}



.container {
	padding-top: 40px;
	margin: 0 auto;
	width: 800px;
	min-width: 800px;
}

h2 {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 15pt;
    text-align: center;
}

h3 {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 12pt;
    text-align: left;
}

.buttons {
	text-align: center;
}

footer img {
	position: static;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

/* For login-register */
.login-register {
	width: 100%;
	border: darkgray 2px solid;
	border-radius: 50px;
	overflow: hidden;
	box-shadow: 10px 10px 5px #888888;
}

.login {
	width: 50%;
	float: left;
	min-width: 400px;
	background-color: lightgray;
	padding-bottom: 130px;
	text-align: center;
}

.register {
	width: 50%;
	min-width: 400px;
	float: left;
	background-color: #A2B964;
	padding-bottom: 14px;
	text-align: center;
}

.cancel {
	padding-top: 20px;
	text-align: center;
}